---
const { padding, titleTop, titleBottom, paragraphs = [] } = Astro.props;
---

<section id="who-we-are" class={`relative bg-white tracking-wider ${padding}`}>
  <div class="container-site">
    <div class="mx-auto max-w-170 text-center">
      <h2 class="text-[32px] leading-[1.15] text-black font-medium">
        <span class="block">{titleTop}</span>
        {titleBottom && <span class="block">{titleBottom}</span>}
      </h2>

      {
        paragraphs.map((paragraph) => (
          <p class="mx-auto mt-10 text-lg leading-7 text-black/80 font-medium">
            {paragraph}
          </p>
        ))
      }
    </div>
  </div>
</section>
