---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Intro from "../components/sections/Intro.astro";
import OurPeople from "../components/sections/OurPeople.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import CtaHero from "../components/sections/CtaHero.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About | Freighters">
  <Header lang="en" currentPath="/" />
  <Hero videoSrc="/video/about_hero.mp4" />
  <Intro
    titleTop="IT'S ALL ABOUT PEOPLE"
    p1="Your business is unique, and your needs are individual. We listen, respond swiftly, and deliver solutions built around you."
  />
  <OurPeople image="/images/our-people.png" />
  <WhyUs />
  <div class="mt-100"></div>
  <CtaHero image="/images/contact-cta.jpg" />
  <Footer />
</Layout>
