---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactDetails from "../components/sections/ContactDetails.astro";
import Footer from "../components/Footer.astro";

const heroImage = "/images/contact/contact-hero.png";
---

<Layout title="Contact | Freighters">
  <Header lang="en" currentPath="/" />
  <main class="bg-white">
    <!-- hero image -->
    <div class="w-full">
      <div class="relative h-100 w-full overflow-hidden md:h-200">
        <img
          src={heroImage}
          alt="Contact"
          class="h-full w-full object-cover"
          loading="lazy"
        />
        <div class="absolute inset-0 bg-black/35"></div>
      </div>
    </div>

    <ContactDetails />
    <Footer />
  </main>
</Layout>
